* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 80%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all-news {
  margin: 10px auto;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.news {
  max-width: 350px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.news-title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.head-text {
  margin-top: 30px;
  text-align: center;
}

.news-desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news-author {
  margin-right: 10px;
  color: purple;
}

.news-published {
  margin-right: 10px;
}

.news-source,
.news-published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
.news-image {
  width: 100%;
}